################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Cpp Essential Training/Debug
/Cpp Essential Training/Cpp Essential Training.vcxproj.user
/Cpp Essential Training/Cpp Essential Training.vcxproj.filters
/Cpp Essential Training/Cpp Essential Training.vcxproj
/Cpp Essential Training/Cpp Essential Training.sln
/Cpp Essential Training/.vs/Cpp Essential Training/v16/ipch/AutoPCH/cffcb59c8a2ae1c7/HELLO-WORKING.ipch
/Cpp Essential Training/.vs/Cpp Essential Training/v16/ipch/AutoPCH/cffcb59c8a2ae1c7
/Cpp Essential Training/.vs/Cpp Essential Training/v16/ipch/AutoPCH/7d4c93b35ae801ef/HELLO_CSTREAM.ipch
/Cpp Essential Training/.vs/Cpp Essential Training/v16/ipch/AutoPCH/7d4c93b35ae801ef
/Cpp Essential Training/.vs/Cpp Essential Training/v16/ipch/AutoPCH/64fa50116faf21c2/HELLO_IOSTREAM.ipch
/Cpp Essential Training/.vs/Cpp Essential Training/v16/ipch/AutoPCH/64fa50116faf21c2
/Cpp Essential Training/.vs/Cpp Essential Training/v16/ipch/AutoPCH
/Cpp Essential Training/.vs/Cpp Essential Training/v16/Browse.VC.opendb
/Cpp Essential Training/.vs/Cpp Essential Training/v16/Browse.VC.db
/Cpp Essential Training/.vs/Cpp Essential Training/v16/.suo
/Cpp Essential Training/.vs/Cpp Essential Training/v16
/.vs/C++ Essential Training/v16
/.vs
/Cpp Essential Training/.vs/Cpp Essential Training/config
